<ion-header>
  <ion-toolbar>
    <ion-title>Factura de {{ factura.cliente }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <p><strong>Abono:</strong> ${{ factura.abono }}</p>
  <p><strong>Total:</strong> ${{ factura.total }}</p>
  <p><strong>Saldo:</strong> ${{ factura.total - factura.abono }}</p>

  <ion-list>
    <ion-item *ngFor="let p of factura.productos">
  <ion-label>
    {{ p.nombre }} -
    {{ p.cantidad || 1 }} x ${{ p.precioUnitario }} =
    ${{ (p.precioUnitario * (p.cantidad || 1)) }}
  </ion-label>
</ion-item>

  </ion-list>
</ion-content>
