<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="botonera">
    <div class="boton" (click)="irARuta('facturacion')">
      <ion-button shape="round" size="large" color="primary">
        <ion-icon name="receipt-outline"></ion-icon>
      </ion-button>
      <p>Facturas</p>
    </div>

    <div class="boton" (click)="irARuta('productos')">
      <ion-button shape="round" size="large" color="success">
        <ion-icon name="cube-outline"></ion-icon>
      </ion-button>
      <p>Productos</p>
    </div>

    <div class="boton" (click)="irARuta('saldos-por-cobrar')">
      <ion-button shape="round" size="large" color="warning">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <p>Buscar Facturas</p>
    </div>

    <div class="boton" (click)="irARuta('contabilidad')">
      <ion-button shape="round" size="large" color="tertiary">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-button>
      <p>Contabilidad</p>
    </div>
  </div>
</ion-content>
